@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color: #1B262C ;
    --dark-color : #000000 ;
    --white-color : #ffffff ;
    --menu-color : #3A5E72 ;
    --btn-color: #5C93B1 ;
    --hover-color : #dddddd ;
}
body{
    font-family: "Poppins", serif;
    background-color: var(--bg-color);
}