@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-clr: #1B262C ;
    --secondary-clr: #24353E ;
    --darkslategray-clr : #3A5E72 ;
}
body{
    font-family: "Poppins", serif;
    background-color: var(--primary-clr);
}
.layout .container .weather-details .col{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 12px;
    font-size: 18px;
}
.layout .container .weather-details .col>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}